*.pyc
environment/lib/python3.6/__pycache__/

# Don't add server-side credentials
bot_credentials.yml
cookies.txt
cookies.sqlite
token.txt

# Don't add server-side whitelisted users
user_whitelist.yml
